@model InnoGotchi_backend.Models.UserDto
@{
    Layout = "AuthorizeLayout";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Personal info</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <td>
                    <img src="~/Images/avatars/@Model.Avatar" width="300" height="300" />
                </td>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
            <h5>@Model.UserName</h5>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <h5>@Model.FirstName</h5>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <h5>@Model.LastName</h5>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <h5>@Model.Email</h5>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit Profile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



