@using InnoGotchi_backend.Models.Dto;
@model FarmDto
@{
    ViewData["Title"] = "ForeignFarm";
    Layout = "~/Views/Shared/AuthorizeLayout.cshtml";
}

<h1>ForeignFarm</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FarmName" class="control-label"></label>
                <h5>@Model.FarmName</h5>
            </div>
            <div class="form-group">
                <label asp-for="AlivePetsCount" class="control-label"></label>
                <h5>@Model.AlivePetsCount</h5>
            </div>
            <div class="form-group">
                <label asp-for="DeadPetsCount" class="control-label"></label>
                <h5>@Model.DeadPetsCount</h5>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" asp-controller="pet" asp-action="foreign-pet-list" asp-route-id=@Model.FarmName value="Pets" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>