@using InnoGotchi_backend.Models.DTOs;
@using InnoGotchi_backend.Models.Entity;
@model IEnumerable<PetDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AuthorizeLayout.cshtml";
}
<link rel="stylesheet" href="~/css//BlueButton.css" />
<link rel="stylesheet" href="~/css//SurviveButtons.css" />

<h1>Pets</h1>

<form method="post" asp-controller="innogotchi" asp-action="sorted-innogotches" class="d-flex">
    <select name="selectedItem" class="form-select" style="width: 200px; margin-right: 10px;">
        <option value="Happy days">Happy days</option>
        <option value="Age">Sort by age</option>
        <option value="Hunger">Sort by hunger level</option>
        <option value="Thirsty">Sort by thirsty level</option>
    </select>
    <button type="submit" class="btn btn-primary">Sort</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Pet Name</th>
            <th>Age</th>
            <th>Hunger Level</th>
            <th>Thirsty Level</th>
            <th>Happy Days Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pet in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/Bodies/@pet.Body" width="50" height="50" />
                </td>
                <td>@pet.PetName</td>
                <td>
                    @if (pet.GetAge() == 0)
                    {
                        <span class="blue-button disabled small-label">newborn</span>
                    }
                    else
                    {
                        @pet.GetAge()
                    }
                </td>
                <td>
                    @if (pet.GetHungerLevel() == InnoGotchi_backend.Models.Enums.HungerLevel.Full)
                    {
                        <span class="full-button disabled small-label">Full</span>
                    }
                    else if (pet.GetHungerLevel() == InnoGotchi_backend.Models.Enums.HungerLevel.Normal)
                    {
                        <span class="normal-button disabled small-label">Normal</span>
                    }
                    else if (pet.GetHungerLevel() == InnoGotchi_backend.Models.Enums.HungerLevel.Hunger)
                    {
                        <span class="hungryOrThirsty-button disabled small-label">Hunger</span>
                    }
                    else if (pet.GetHungerLevel() == InnoGotchi_backend.Models.Enums.HungerLevel.Dead)
                    {
                        <span class="dead-button disabled small-label">Dead</span>
                    }
                </td>
                <td>
                    @if (pet.GetThirstyLevel() == InnoGotchi_backend.Models.Enums.ThirstyLevel.Full)
                    {
                        <span class="full-button disabled small-label">Full</span>
                    }
                    else if (pet.GetThirstyLevel() == InnoGotchi_backend.Models.Enums.ThirstyLevel.Normal)
                    {
                        <span class="normal-button disabled small-label">Normal</span>
                    }
                    else if (pet.GetThirstyLevel() == InnoGotchi_backend.Models.Enums.ThirstyLevel.Thirsty)
                    {
                        <span class="hungryOrThirsty-button disabled small-label">Thirsty</span>
                    }
                    else if (pet.GetThirstyLevel() == InnoGotchi_backend.Models.Enums.ThirstyLevel.Dead)
                    {
                        <span class="dead-button disabled small-label">Dead</span>
                    }
                </td>
                <td>@pet.HappyDaysCount</td>


                
            </tr>
        }
    </tbody>
</table>